html,
body {
  margin: 0;
  padding: 0;
}

#banner {
  position: relative;
  width: 300px;
  height: 600px;
  overflow: hidden;
  background: #5e2c26;
  box-sizing: border-box;
}

#i01 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#i02 {
  position: absolute;
  left: 0;
  top: 10%;
  opacity: 0;
}
#i03-1{
  position: absolute;
  left: 0;
  top: 10%;
  opacity: 0;
}
#i03 {
  position: absolute;
  left: 0;
  top: 10%;
  opacity: 0;
}
#i04 {
  position: absolute;
  left: 0;
  top: 5%;
  opacity: 0;
}
#i05 {
  position: absolute;
  left: 0;
  top: 5%;
  opacity: 0;
}

#i06 {
  position: absolute;
  left: 5%;
  top: 0;
  opacity: 0;
}
#i07 {
  position: absolute;
  left: 0;
  top: 5%;
  opacity: 0;
}

#i08 {
  position: absolute;
  left: 0;
  top: 5%;
  opacity: 0;
}
#i09 {
  position: absolute;
  left: 0;
  top: 5%;
  opacity: 0;
}

#i10 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#i11 {
  position: absolute;
  left: 0;
  top: 10%;
  opacity: 0;
}
#i12 {
  position: absolute;
  left: 0;
  top: 10%;
  opacity: 0;
}
#i12-1 {
  position: absolute;
  left: 0;
  top: 10%;
  opacity: 0;
}
#i13 {
  position: absolute;
  left: 0;
  top: 10%;
  opacity: 0;
}